.html5 {
    color:#E54D26;
}
.css3 {
    color:#264DE4;
}
.js {
    color:#F7E018;
}
.vue {
    color:#41B883;
}
.python {
color: #3471A0;
}
.python-alt {
color: #FFD947;
}
.bootstrap {
    color:#563D7C;
}
.node {
    color:#8BC500;
}
.npm {
    color:#CC3534;
}
.msft {
    color:#3377BB;
}
.gdrive {
    color:#2DB672;
}
.color-1 {
    color:#2C3E50;
}
.color-2 {
    color:saddlebrown;
}
html, body {
   background-color:rgba(0,0,0,0.85);
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234682b4' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234682b4' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
